BasedOnStyle: Google
UseTab: Never
Language: Cpp
IndentWidth: 2
ColumnLimit: 0
BrakeBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: SIS_Never
IndentCaseLabels: false
PointerAlignment: Left
AlignAfterOpenBracket: BAS_BlockIndent
AlignArrayOfStructures: AIAS_Right
AlignConsecutiveAssignments: None
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: SBS_Empty
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: SLS_Empty
AllowShortLoopsOnASingleLine: false
BitFieldColonSpacing: BFCS_After
BreakBeforeBraces: false
